Hi {{ owner_first_name }},

I'm reaching out to notify you of a failed payment for one of your clients. Here are the pertinent details:

    Client Name: {{ member_name }}
    Amount: $ {{ payment_total_amount }}
    For: {{ payment_description }}

Please log in to and navigate to the client's contact page. From there, go to the 'Payment Tab' and look at the 'Payment History'. There you'll see the option to 'Retry' the failed payment. If the payment method is missing or the one on file is no longer valid, please update it and try again.

Best,
The GymOwners.com Team
