Hey {{ member_first_name }}! You're one step closer to unlocking to your fitness sessions!

Before we get those endorphins flowing, we need to spot-check your email. Please confirm that you used this email address to create an account on GMS.

{{confirmation_link}}

Please click on the above confirmation link and you're in! Get ready to explore, book, and enjoy a variety of group workouts tailored just for you.

This invite link is your personal gym pass, valid for the next 24 hours. So, use it soon to start your fitness journey with us!

See you soon,

{{ location_name }}

P.S. If you didn't sign up for this, no sweat! Just ignore this email, and it'll auto-expire soon.
Can't wait to see you in our next session! :tada: :muscle: