
Hello {{ member_first_name }} {{ member_last_name }},

Looks like you need to reset your password for {{ location_name }}'s app. No sweat, we've got you covered.

Here's your verification link: :lock: {{ verification_link }}

Don't wait—this code will expire in 30 minutes!

Best,

The GymOwners.com Team