Hey {{ member_first_name }},



You're now a part of {{ location_name }} - let's turn those fitness goals into reality!



To book classes and manage your membership, download our app:

{{ android_download_link }}

{{ ios_download_link }}



Important: Make sure to use the email address {{ member_email }} to register in the app. This will sync your account and membership details.



See you in the gym,

The {{ location_name }} Team