Hello {{first_name}},

Welcome to GMS! We're excited to have you on board.

Before getting started, we need to verify your email address. Please confirm that you used this email address to create an account on GMS.

{{confirmation_link}}

If you did not sign up for a GMS account, please ignore this email or contact us at support@gymowners.com

This link will expire in 24 hours, so be sure to verify soon.

Congrats on taking the first step in making your gym wildly profitable. We can't wait to see what you'll do.

Best, 
The GymOwners.com Team