Hello {{first_name}} {{last_name}},

Looks like you need to reset your password for {{gym_name}} on GymOwners.com. No sweat, we've got you covered.

Reset your password by clicking the link below:

{{reset_password_link}}

Don't wait—this link will expire in 24 hours!

Best,
The GymOwners.com  Team