Hello {{first_name}} {{last_name}},

You're now part of the {{gym_name}} family on GymOwners.com! Let's get you off the bench and into the game.

Activate your account by clicking the link below:

{{confirmation_link}}

Act fast — this link will expire in 24 hours!

Best,
The GymOwners.com Team