A new GO Account has been added with the following details

Location Name: {{ location_name }}

Date & Time Added:  {{ created_datetime }} GMT

Gym Owner Email: {{ owner_email }}

Staff Login Email for GO: {{ admin_email }}